.my{
    background-color: aqua;
    margin: 2px;
    padding: 5px;
    border: 10px solid tomato;
    border-radius: 8px;
    font-size: 24px;
    font-family: tahoma;
}
#tume{
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}
.lorem{
    background-color: aqua;
    /* margin: 2px; */
    padding: 5px;
    border: 10px solid tomato;
    border-radius: 5px;
    font-size: 24px;
    font-family: tahoma;
    margin-top: 5px;
}
.project{
    background-color: red;
    /* margin: 2px; */
    padding: 5px;
    border: 10px solid tomato;
    border-radius: 5px;
    font-size: 24px;
    font-family: tahoma;
    margin-top: 5px;
}